certifi==2022.9.24
charset-normalizer==3.0.1
compoundwidgets==0.1.19
distro==1.8.0
idna==3.4
isodate==0.6.1
networkx==2.8.8
numpy==1.23.5
packaging==21.3
pandas==1.5.2
pathlib==1.0.1
Pillow==9.3.0
pip==22.3.1
PyMuPDF==1.21.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
rdflib==6.2.0
requests==2.28.1
setuptools==65.6.3
six==1.16.0
tabula-py==2.6.0
ttkbootstrap==1.10.0
urllib3==1.26.13
wheel==0.38.4
